html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f4f4f4;
}

.app {
  height: 100vh;
  padding: 16px;
}

.main {
  display: flex;
  width: 100%;
}

.remote {
  width: 50%;
  padding-right: 16px;
}

.local {
  width: 50%;
  padding-left: 16px;
}
