.app-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(128,128,128,.5);
  z-index: 1000;
}

.app-modal {
  margin: 0 auto;
  margin-top: 100px;
  width: 720px;
  background: #fff;
  border: 1xp solid #666;
  box-shadow: 0 4px 16px rgba(64,64,64,.6);
}

.app-modal-header {
  padding: 12px 16px;
  border-bottom: 1px solid #e8e8e8;
}

.app-modal-header h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1;
}

.app-modal-body {
  padding: 24px 16px;
}

.app-modal-footer {
  padding: 12px 16px;
  text-align: right;
  border-top: 1px solid #e8e8e8;
}

.app-modal-footer .app-btn {
  margin-left: 16px;
}
